.click-to-show-click{
    width: 75%;
    text-align: right;
    margin: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
}
.click-to-show{
    width: 75%;
    text-align: center;
}
.click-image{
    inline-size: 10%;
    float: left;
}
.click-text{
    inline-size: 90%;
    float: right;
    margin-left: 1em;
}
a, a:link, a:visited, a:active{
    color: blue;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}