.click-to-show-click{
    width: 75%;
    text-align: right;
    margin: 1px 1px 1px 1px;
    border-radius: 5%;
}
.click-to-show{
    width: 75%;
    text-align: center;
}
.click-image{
    inline-size: 10%;
    float: left;
}
.click-text{
    inline-size: 90%;
    float: right;
}
a, a:link, a:visited, a:active{
    color: blue;
}