.click-to-show-click{
    width: 30%;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
    background-color: darkblue;
    color: white;
}
.click-image-text{
    display: flex;
    align-items: right;
    text-align: center;
}
.click-to-show{
    width: 25%;
    align-items: bottom;
    background-color: darkblue;
    width: 100%;
}
.click-image{
    width: 35%;
    margin-right: 1px;
    padding: 1px 1px 1px 1px;
}
.click-text{
    margin-left: 2px;
    padding: 1px 1px 1px 1px;
    text-align: center;
}


a, a:link, a:visited, a:active{
    color: blue;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}